# Author: Nuno Aguiar
init:
  prom: |
    # my global config
    global:
      scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
      scrape_timeout:      15s
      evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
      # scrape_timeout is set to the global default (10s).

    # Alertmanager configuration
    alerting:
      alertmanagers:
      - follow_redirects: true
        scheme: http
        timeout: 10s
        api_version: v2
        static_configs:
        - targets:
        # - alertmanager:9093

    # Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
    rule_files:
      # - "first_rules.yml"
      # - "second_rules.yml"

    # A scrape configuration containing exactly one endpoint to scrape:
    # Here it's Prometheus itself.
    scrape_configs:
      # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
      - job_name: 'prometheus'
        honor_timestamps: true
        scrape_interval: 15s
        scrape_timeout: 10s
        metrics_path: /metrics
        scheme: http
        follow_redirects: true
        # metrics_path defaults to '/metrics'
        # scheme defaults to 'http'.
        static_configs:
        - targets: ['localhost:9090']         

  dc  : |
    version : '3'
    networks:
      prom:
    services:

      prometheus:
        image   : prom/prometheus
        hostname: prometheus
        ports   :
        - "9090:9090"
        volumes :
        - {{promYaml}}:/etc/prometheus/prometheus.yml
        - prometheus:/prometheus
        networks:
        - prom
      {{#if grafana}}

      # Login with admin/admin
      grafana:
        image   : grafana/grafana
        hostname: grafana
        ports   :
        - "3000:3000"
        volumes :
        - grafana:/var/lib/grafana
        networks:
        - prom
      {{/if}}

    volumes:
      prometheus:{{#if grafana}}
      grafana:{{/if}}

todo:
- Check for docker
- Install prometheus

include:
- ojob.io/docker/_common.yaml

ojob:
  sequential  : true
  opacks      :
  - openaf: 20200523
  catch       : logErr(exception);
  logToConsole: false   # to change when finished

jobs:
# ----------
- name: Help
  help: 
    text   : Generates a quick docker-compose with prometheus and, optionally, grafana.
    expects: 
    - name: grafana 
      desc: "If grafana=true grafana will be added to the docker-compose file."
    - name: prometheusConfig
      desc: "The localfilename containing the prometheus configuration (default: prometheus.yml)"

# ------------------------
- name: Install prometheus 
  exec: |
    args.grafana          = _$(args.grafana, "grafana").default("false"); 
    args.prometheusConfig = _$(args.prometheusConfig, "prometheusConfig").default(io.fileInfo(".").canonicalPath + "/prometheus.yml");

    io.writeFileString(args.prometheusConfig, args.init.prom);
  
    tprint(args.init.dc, { 
       grafana : (args.grafana.toLowerCase() == "true" ? true : false),
       promYaml: io.fileInfo(args.prometheusConfig).canonicalPath
    });
